  .x-form {
    
    color: #fff;
    background-color: rgba(60, 60, 60, 0.8);
    padding: 30px;   
  }

  .x-radio {
    display: none;
  }
  .x-checkbox {
    accent-color: #98c004;
  }

  #test-type , #test-type label {
    display: inline-block;
    padding-bottom: 20px;
    font-size: small;
    margin-right: 10px;

  }
    
  .x-form h2 {
    color: #fafafa;
  }
  
  .x-form p {
   color: greenyellow;
   margin-bottom: 5px;
   margin-top: 5px; 
  }

  .x-checkbox input {
    margin-right: 10px;
  }
  .text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0 ;
    border: 1px solid #fafafa;
    border-radius: 2px;
  }
  
  .text-input:hover {
    border-color: #98c004;
  }
  
  #x-text {
    overflow: auto;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
  
  }
  
  .x-button {
    margin-top: 20px;
    border-radius:2px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    height: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform:uppercase;
    background-color: #98c004;
    color: #fafafa;   
    width: 100%;
    
   
  } 
  
  .x-button:hover {
    background-color:  #fafafa;
    color: #98c004; 
  } 

  /* teeeeeeeeeeeeeeeeeezt *
  /const deadline = '2015-12-31';

  